/* .body {
  background-color: transparent !important;
  background: linear-gradient(120deg, rgba(0, 0, 0, 0) 30%, #7845d9 40%),
    url("https://www.toptal.com/designers/subtlepatterns/patterns/double-bubble-dark.png") !important;
  width: 100vw;
  height: 100vh;
} */
