.cards-container {
  float: left;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  width: 85%;
  margin-left: 8%;
  border-radius: 6px;
  padding: 2%;
}

.card-item-labRoom {
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  float: left;
  margin-left: 7%;
  width: 35%;
  height: 295px;
  display: inline;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
}

.card-item-Direct-Messages {
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  float: left;
  margin-left: 3%;
  margin-right: 2%;
  width: 15%;
  height: 295px;
  display: inline;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
}

.card-item-Clock {
  background: linear-gradient(
    to left top,
    rgba(136, 172, 216, 0.712),
    rgba(55, 233, 203, 0.897)
  );
  float: left;
  margin-left: 2%;
  width: 28%;
  height: 340px;
  display: inline;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
}

.clock {
  color: white;
  text-align: center;
  font-size: 3rem;
  margin-top: 40%;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: monospace;
  border-bottom: double;
  border-top: double;
}
.card-item-Stats {
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  float: left;
  margin-left: 7%;
  width: 53%;
  height: 280px;
  display: inline;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
}

.card-item-profile {
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  float: left;
  margin-right: 2%;
  margin-left: 4%;
  margin-top: 2.7%;
  width: 28%;
  height: 240px;
  display: inline;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
}

.card-header {
  padding: 20px 20px;
  color: #284163c5;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.card-header1 {
  padding: 12px 20px;
  background: linear-gradient(to right top, #6cb4df, #6787e0fd);
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.card-header2 {
  text-align: center;
  padding: 20px;
  color: #284163c5;
  font-family: Georgia, "Times New Roman", Times, serif;
}
