@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');


#room-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

#video-grid {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 80vw;
}

.control-block {
  display: flex;
  padding: 5px;
}

.controls {
  display: flex;
  background-color: darkgray;
  justify-content: center;
  align-items: center;
}

.media-controls {
  display: flex;
  flex-direction: column;
  padding: 5px;
  cursor: pointer;
  justify-content: space-between;
}

/* .center-codeEditor{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 10vw;
  

} */

.main-console {

  background-color: #fff;
  width: 100%;
  height: 130px;
  margin-top: .9em;
  border: 1px solid var(--editor-border);
  overflow: auto;

}

.editor-container{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 10vw;
  font-family: 'Courier New', Courier, monospace

}

#console-wrapper{

  display: flex;
  height: 10vh;

}

.console-buttons-section{

  display: flex;
  flex-direction: column;
  background-color: #2e2e2e;
  width: 5vw; 
  cursor: pointer;

}

.main-console{
  margin-top: 0;
  background-color: aquamarine;
  /* height: 15vh; */
  overflow: auto;
  position: relative;
  /* margin-left: 2vw; */
  

}

.console-button-run{
  margin-top: 30%;
  border: 0;
  padding: .5em;
  margin-bottom: 10px;
  

}

.console-button-clear{
  
  border: 0;
  padding: .5em;
 
}